.container {
  margin-top: 24px;
  width: 100%;
  display: grid;
  min-height: 400px;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;

  @media screen and (max-width: 1220px) {
    min-height: 360px;
  }

  @media screen and (max-width: 1024px) {
    min-height: 300px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    min-height: 400px;
  }
}



